* {
  margin: auto;
  padding: 0;
}

.header {
  background-color: dimgrey;
}

.btn-cart {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 50px;
}

.products {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.product-item {
  border: 1px solid black;
  height: 250px;
  width: 200px;
  text-align: center;
  background-color: rgb(226, 224, 224);
}

.title {
  margin-top: 40px;
  margin-bottom: 100px;
}

.price {
  margin-bottom: 20px;
}
